doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible' content='IE=edge")
    title Webpack
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    header.header
      img.header__logo(src='./assets/icons/YandexGo.svg' alt='YandexGo')
      h1.header__heading Вступайте в клуб Самокатов
      .header__inner-wrapper
        p.header__text Купите абонемент, чтобы стать частью клуба в новом сезоне–2024. 8 месяцев за
      .header__price-wrapper
        .header__new-price
          p.header__new-price-text 499₽
        .header__old-price
          p.header__old-price-text 3190₽
      button.header__button(type='button') Стать частью клуба
    main
      section.advantages 
        p.advantages__heading Вот что даёт участие в клубе
        ul.advantages__list 
          li.advantages__item 
             img.advantages__image(src='./assets/icons/Frame1.svg', alt='Frame1')
             p.advantages__text 0 ₽ за старт в каждой поездке
          li.advantages__item 
             img.advantages__image(src='./assets/icons/Scooter.svg', alt='Scooter')
             p.advantages__text.advantages__text-right Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта с абонементом — так у всех будет бесплатный старт
          li.advantages__item 
             img.advantages__image(src='./assets/icons/Frame2.svg', alt='Frame2')
             p.advantages__text.advantages__text-left Бесплатная пауза 15 минут в поездке — например, чтобы зайти за кофе или передохнуть
          li.advantages__item 
             img.advantages__image(src='./assets/icons/Frame3.svg', alt='Frame3')
             p.advantages__text.advantages__text-right Если самокат недостаточно заряжен или с ним неудобно переходить дорогу, замените по пути на другой — это бесплатно
      section.events 
          h2.events__heading Эксклюзивный доступ к событиям Самокатов
          p.events__text С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч. В 2023 году мы танцевали на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали хор Attaque de Panique
          ul.events__list 
           li.events__item
              img.events__frame-first(src='./assets/content-image/image6.png', alt='image6')
              img.events__image-first(src='./assets/content-image/image4.png', alt='image4')
           li.events__item
              img.events__frame-second(src='./assets/content-image/image7.png', alt='image7')
              img.events__image-second(src='./assets/content-image/image3.png', alt='image3')
           li.events__item 
              img.events__frame-third(src='./assets/content-image/image9.png', alt='image9')
           li.events__item 
              img.events__frame-fourth(src='./assets/content-image/image8.png', alt='image8')
              img.events__image-third(src='./assets/content-image/image5.png', alt='image5')

            
            
                     
          
              
               
              







       
      
         
             
          
        
